.blue{
    color: #007bff !important;
}
.red{
    color: #dc3545 !important;
}
.green{
    color: #28a745 !important;
}
.orange{
	color: #ffc107 !important;
}
.gray{
	color: #6c757d !important;
}
.light-blue{
	color: #17a2b8 !important;
}
.light{
	color: #f8f9fa !important;
}
.white{
	color: #fff !important;
}
.dark{
	color: #343a40 !important; 
}
.black{
	color: #212529 !important;
}

