label, a{
  color: #ffffff !important;
}

td{
  background-color: #3b4b54 !important;
}

.dataTables_info {
  color: #ffffff !important;
}

.paginate_button{
    color: #ffffff !important;
    background-color: #0069d9 !important;
    border-color:#0062cc;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  color: #ffffff !important;
}
