{% extends "parent_bootstrap_js.html" %}

{% block head %}
<title>Admin</title>
{% endblock %}

{% block body %}
<div  class="pageCorrection">
    <form action="" method="post">
        <button class="btn btn-info" name="admin-button" value="to-menu">Back</button>
        <button class="btn btn-primary" name="admin-button" value="to-edit-tables">Edit Tables</button>
        <button class="btn btn-primary" name="admin-button" value="to-access-level">Access Level</button>
    </form>
</div>
{% endblock %}

{% block jscript %}
<script src="/static/js/admin.js" type="text/javascript"></script>
{% endblock %}