<html>
    <head>

    <title>Contact To</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!--link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous"-->
        <link rel="stylesheet" href="/static/downloaded/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/downloaded/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/static/stylesheets/default.css">
        <link rel="stylesheet" type="text/css" href="/static/stylesheets/colors.css">
      </head>
    <body>

        <div class="pageCorrection">
        <form action="" method="post">
        <div style="text-align: center; ">
            <h1>Access Denied:</h1>
            <h2>Please contact your organization's focal</h2>
            <br>
            <div class="container">
              <table class="table table-bordered table-hover">
                <tr>
                  <td>Contracts & Negotiations (C&N)</td>
                  <td>Michael.Penn@ocean.ibm.com</td>
                </tr>
                <tr>
                  <td>Asset Management (AM)</td>
                  <td>Katarina.Hamranova@ocean.ibm.com</td>
                </tr>
                <tr>
                  <td>Enterprise Operations (EO)</td>
                  <td>Angelica.Maria.Esquivel.Esquivel@ocean.ibm.com</td>
                </tr>
                <tr>
                  <td>Global Sales Incentives (GSI)</td>
                  <td>Kerry.Berg@ocean.ibm.com</td>
                </tr>
                <tr>
                  <td>Procurement</td>
                  <td>Linda.Safford@ocean.ibm.com</td>
                </tr>
                <tr>
                  <td>Q2C WEST Services</td>
                  <td>Ana.Carolina.Donadelli.Carcaioli@ocean.ibm.com</td>
                </tr>
                <tr>
                  <td>Q2C EAST Services</td>
                  <td>Alice.Tong@ocean.ibm.com</td>
                </tr>
                <tr>
                  <td>Q2C CENTRAL Services</td>
                  <td>Maria.Latinovic@ocean.ibm.com</td>
                </tr>
                <!-- <tr>
                  <td>Q2C QUEST</td>
                  <td>Louisa.Vergers@ocean.ibm.com</td>
                </tr> -->
                <tr>
                  <td>Q2C Global Acceleration and Innovation</td>
                  <td>Louisa.Vergers@ocean.ibm.com</td>
                </tr>
                <tr>
                  <td>Strategy, Operations & Cash Management (SOCM)</td>
                </tr>
              </table>
            </div>
        </div>
        </form>
        </div>

        <style>
        body{
            background-color: #3b4b54;
            width: 100%;
            height: 100%;
            margin: 0 auto;
            font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            color: #ffffff;
            font-size: 0.85vw;
        }
        form {
            padding: 10%;
        }
        </style>

    </body>
</html>
