{% extends "parent_bootstrap_js.html" %}

{% block head %}
  <title>Home page</title>
{% endblock %}

{% block body %}
  <div class="pageCorrection" >

    <div style="text-align:center;" >
        <!-- margin: 2% -->
        <!--img src="/static/images/RDB logo - transparent background.png" width="300" height="108"><br/>
        <img src="/static/images/Transparent_SMART_Logo_full.png" width="200" height="50"><br/><br/-->
        <img src="/static/images/rdb-logo-png.png" width="153" height="164"><br/><br/>
        <h1>WELCOME to RDB!</h1>
        <div  style="width:40%;display:inline-block;font-size:16px;text-align:justify;">
          <p>We are not sharing this data with any external 3rd party. Accesses to this information is restricted and managed on a need to know basis.</p>
        </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
{% endblock %}
