<!DOCTYPE html>
<html>
  <head>
    <title>Form data enter</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!--link rel="stylesheet" type="text/css" href="/static/stylesheets/default.css">
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/colors.css">
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/form.css"-->
  </head>

  <body style="background-color:#3b4b54;color:#ffffff">

    <div class="container-fluid">

      <form>
        <table class="table table-bordered table-dark table-hover table-striped table-responsive">
          <thead>
            <tr>
              <th></th>
              <th>Customer No</th>
              <th>Customer Name</th>
              <th>Legal Contract No</th>
              <th>Country Code</th>
              <th>Contract Number</th>
            </tr>
          </thead>
          <tbody>
            {% for main_data in data_Search %}
            <tr>
              <td>
                <div class="radio">
                  <input type="radio" name="legalcontractno" onclick="selectContract()">
                </div>
              </td>
              <td>{{main_data[0]}}</td>
              <td>{{main_data[1]}}</td>
              <td>{{main_data[2]}}</td>
              <td>{{main_data[3]}}</td>
              <td>{{main_data[4]}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      <form>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

    <script>
      var user = '{{user}}';
      var user_email = '{{user_email}}';
    </script>

    <script src="/static/js/form/searchContract.js" type="text/javascript"></script>

  </body>

</html>
