{% extends "parent_bootstrap_js.html" %}

{% block head %}
<title>Edit table data</title>
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="/static/stylesheets/datatable.css">
{% endblock %}

{% block body %}

<div style="margin-right: 2%; margin-left: 2%"  class="pageCorrection">
  <div class="d-flex mb-3">
    <h3>Subdomain Table</h3>
    <div class="ml-auto row" style="padding-right:1%">
      <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#squadAddTableModal">+ Add New Item</button>
    </div>
  </div>
  <hr>
    <!-- Nav bar informations -->
  <div class="tab-content" id="table-content">
    <div class="table_container" style="min-height: 530px">
      <table class="table table-bordered" id="squad_data_table" name="squad_data_table">
        <col width="10%">
        <col width="25%">
        <col width="25%">
        <col width="25%">
        <col width="15%">
        <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Subdomain</th>
          <th scope="col">Squad Group</th>
          <th scope="col">Squad Tower</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody class="data-table">
          {% for subDomData in data_subdomain %}
            <tr id="row_{{subDomData[0]}}">
              <td>{{subDomData[0]}}</td>
              <td>{{subDomData[1]}}</td>
              <td>{{subDomData[2]}}</td>
              <td>{{subDomData[3]}}</td>
              <td>
                <button type="button" class="btn btn-primary" style="margin-right: 2%" data-toggle="modal" data-target="#squadTableModal" onclick="loadModalSubdomain('{{subDomData[0]}}','{{subDomData[1]}}','{{subDomData[2]}}','{{subDomData[3]}}')">Change</button>
                <a href="/deleteSquadTableSubdomain/{{subDomData[0]}}/"><button type="button" class="btn btn-danger" onclick="DeleteRowFunction(this)">Delete</button></a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>


  <form action="{{ url_for('saveSquadTableSubdomain') }}" method="POST">
    <div class="modal fade show" id="squadTableModal">
      <div class="modal-dialog">
        <div class="modal-content" style="background-color: #3b4b54">
          <div class="modal-header">
            <h5 class="modal-title">Change Selected Row</h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <label style="width:30%">ID</label>
            <input id="modalID" name="modalID" style="width:60%; background-color:lightgray" readonly>
            <br>
            <label style="width:30%">Subdomain</label>
            <input id="modalSubdomain" name="modalSubdomain" style="width:60%">
            <br>
            <label style="width:30%">Squad Group</label>
            <input id="modalSquadGroup" name="modalSquadGroup" style="width:60%">
            <br>
            <label style="width:30%">Tower</label>
            <input id="modalTower" name="modalTower" style="width:60%">
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success">Save</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <form action="{{ url_for('addSquadTableSubdomain') }}" method="POST">
    <div class="modal fade show" id="squadAddTableModal">
      <div class="modal-dialog">
        <div class="modal-content" style="background-color: #3b4b54">
          <div class="modal-header">
            <h5 class="modal-title">Change Selected Row</h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <label style="width:30%">Subdomain</label>
            <input id="addSubdomain" name="addSubdomain" style="width:60%">
            <br>
            <label style="width:30%">Squad Group</label>
            <input id="addSquadGroup" name="addSquadGroup" style="width:60%">
            <br>
            <label style="width:30%">Tower</label>
            <input id="addTower" name="addTower" style="width:60%">
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success">Save</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </form>

</div>


{% endblock %}

{% block jscript %}
<script src="/static/js/edit_select_tables.js" type="text/javascript"></script>
<script src="/static/js/CustomTable.js" type="text/javascript"></script>
<script src="/static/js/squadTable.js" type="text/javascript"></script>
{% endblock %}
